// Файл с reset свойствами для проекта
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	border:0;
	background:none;
}
body {
	color:#4e5050;
	font:14px/16px Arial, Helvetica, sans-serif;
	background:#fff;
}
a {
	text-decoration:none;
	color:#fa7e7e;
	outline:none;
}
a:hover {text-decoration:underline;}
a:active {background-color: transparent;}
input, textarea, select {
	font:100%  Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#4e5050;
	overflow: auto;
	outline:none;
}
label{vertical-align:middle;}
button, input{
	width: auto;
	overflow: visible;
	outline:none;
}
h1, h2, h3, h4, h5, h6, b, strong, th{font-weight:bold;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
h5{font-size:100%;}
h6{font-size:90%;}
i, cite, em, var, dfn, address{font-style:italic;}
u, ins {text-decoration: underline;}
s, strike, del {text-decoration: line-through;}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
table, caption, tbody, tfoot, thead, tr, th, td{
    border-collapse: collapse;
    border-spacing: 0;
}
th, td{
	border:1px solid #ccc;
	padding:3px 7px;
	text-align:left;
	vertical-align:top;
}
th{
	border-color:#999;
	text-align:center;
	vertical-align:middle;
}
ul{margin:0;list-style:none;}
img{vertical-align:top;}
header, footer, article, section, nav, figure, aside, main { display: block; }
::-webkit-input-placeholder { /* WebKit browsers */
	color: #868f8f;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #868f8f;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #868f8f;
	opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #868f8f;
}
::-ms-clear{
	display:none;
}